body{
    background-color: #FCF7F1;
}

h1{
    color: #FDB159;
    font-family: serif;
}

h3{
    color: #FDB159;
}

h4{
    color: #FDB159;
}

h5{
    color: #FDB159;
}

ul{
    color: #FBD6B9;
}

ol{
    color: #FBD6B9;
}

li{
    color: #FBD6B9;
}

p{
    color: darkseagreen;
}

